:root {
	--cl-primary: rgb(10, 58, 146);
	--cl-secondary: rgb(10, 46, 117);

	--cl-hyperlink: rgb(27, 233, 112);

	--cl-text: white;
	--cl-text-backdrop: #2424249c;
}

html, body {
	margin: 0;
	padding: 0;

	font-family: Consolas, 'Courier New', Courier, monospace;
}

hr {
	width: 100%;
	height: 2px;
	background-color: var(--cl-secondary);
	border: none;
}

a {
	color: var(--cl-hyperlink);
	text-decoration: none;
}

.bkg-container {
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;

	background-size: cover;
}

.bkg-blinds {
	height: 100%;
	width:100%;

	/* position: relative;
	bottom: 100%; */
	opacity: 0.7;
	background-color: rgb(163, 163, 163);
}

.navigation {
	width: 100%;
	height: 28px;
	
	position: fixed;
	bottom: 0;
	z-index: 99;
	
	color: white;
	font-size: 0.8rem;
	background-color: var(--cl-primary);
	/* display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch; */
}

.nav-body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	height: 100%;

	background-color: var(--cl-secondary);

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.nav-items {
	display: flex;
	align-items: center;
}

.nav-items>* {
	margin: 0 3px;
}

.nav-items>a {
	color: inherit;
	text-decoration: none;
}

.nav-items>a:hover {
	color: inherit;
	text-decoration: none;
}

.nav-lnkbtns {
	height: 100%;
	display: flex;
	align-items: center;
	margin-right: 12px;
}

.nav-lnkbtns>img {
	width: 18px;
	height: 18px;
}

.page-buffer {
	height: 100vh;
}

.buffer-footer {
	height: 4rem;
}

.sim-window {
	border-radius: 0 0 6px 6px;
	border: 1px solid black;
	border-top: 8px solid var(--cl-primary);

	color: var(--cl-text);
	background-color: var(--cl-text-backdrop);
}
