.home-greeting {
	position: absolute;
	left: 3vw;
	bottom: 8vh;
	font-size: 3rem;
}

.home-main {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	
	margin: 5vh auto 0;
	padding: 1.2rem 3rem 0.6rem;

	max-width: 1050px;
	/* Adds a blur effect to the element,
	Not being used as browser support is not there yet
	Dropping the background-filter
	backdrop-filter: blur(6px);
	*/
}

.home-content {
	padding: 0.8em;
}
